/* ===== LAYOUT ===== */
.admin-layout {
  display: flex;
}

.admin-main {
  flex: 1;
  margin-left: 220px;
  background: #f8fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ===== TOPBAR FIX ===== */
.topbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* ===== WELCOME ===== */
.admin-home {
  padding: 20px;
}

.admin-home h2 {
  color: #0f172a;
}

.admin-home p {
  color: #64748b;
}

/* ===== CARDS ===== */
.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.stats-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.stats-card:hover {
  transform: translateY(-5px);
}

.stats-card h3 {
  color: #64748b;
  font-size: 14px;
}

.stats-card p {
  font-size: 24px;
  font-weight: bold;
}

/* COLORS */
.users-card { border-left: 5px solid #3b82f6; }
.issues-card { border-left: 5px solid #f59e0b; }
.pending-card { border-left: 5px solid #ef4444; }
.resolved-card { border-left: 5px solid #10b981; }

/* ===== TABLE ===== */
.recent-section {
  padding: 20px;
}

.issues-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.issues-table th,
.issues-table td {
  padding: 12px;
  text-align: left;
}

.issues-table th {
  background: #0d8ecf;
  color: white;
}

.issues-table td {
  border-bottom: 1px solid #eee;
  color:#0d8ecf;
}

.issues-table tr:hover {
  background: #f1f5f9;
}

/* COLUMN WIDTH */
.issues-table th:nth-child(1),
.issues-table td:nth-child(1) { width: 10%; }

.issues-table th:nth-child(2),
.issues-table td:nth-child(2) { width: 60%; }

.issues-table th:nth-child(3),
.issues-table td:nth-child(3) { width: 30%; }

/* ===== STATUS ===== */
.status {
  padding: 5px 12px;
  border-radius: 20px;
  color: #0d8ecf;
  font-size: 14px;
}

/* FIXED LOWERCASE */
.status.pending {
  background: #ef4444;
}

.status.resolved {
  background: #10b981;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .admin-main {
    margin-left: 0;
    margin-bottom: 60px;
  }

  .stats-container {
    grid-template-columns: 1fr;
  }
}