.settings {
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.card h3 {
  margin-bottom: 10px;
}

.card input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

.card button {
  padding: 8px 12px;
  background: #1da1d2;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}

.points {
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.danger button {
  background: red;
  margin-right: 10px;
}

/* DARK MODE */
body.dark {
  background: #1e1e1e;
  color: white;
}

body.dark .card {
  background: #2c2c2c;
}